/* ==================================*/
/*         MAIN BODY */
/* ==================================*/

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* ==================================*/
/*         HEADER ELEMENTS */
/* ==================================*/

.header {
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 16px 100px;
  flex-wrap: wrap;
}

.header .logo {
  height: auto;
  width: 100px;
  border-radius: 25%;
  /* padding-right: 100px */
}

.header .main-header {
  color: #f9faf8;
  font-weight: bolder;
  flex: 1;
  padding: 16px;
  font-size: 24px;
}

/* ==================================*/
/*         LINK FORMATTING */
/* ==================================*/

.header-link {
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 16px;
}

a:hover,
a {
  color: black;
  text-decoration: none;
}

/* ================================== */
/*       MAIN */
/* ==================================*/

.main {
  display: flex;
  padding: 100px 100px;
  background-color: #1f2937;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.main .header {
  color: #f9faf8;
  font-size: 48px;
  margin: 0;
  padding: 0;
}

.main .text {
  color: #e5e7eb;
}

.main .image {
  height: auto;
  width: 300px;
  border-radius: 10%;
}
/* ================================== */
/*       CONTENT & PICTURES */
/* ==================================*/

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 100px;
  justify-content: center;
  gap: 50px;
}

.content-header {
  text-align: center;
  padding: 16px;
}

.content .image {
  height: auto;
  width: 200px;
  border: #3881f6d0 solid 4px;
  border-radius: 10%;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ==================================*/
/*       QUOTE/TESTIMONIALS */
/* ==================================*/

.quote {
  background-color: #e5e7eb;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  padding: 16px 100px;
  display: flex;
  justify-content: center;
}

/* ==================================*/
/*            SIGN-UP */
/* ==================================*/

.sign-up {
  display: flex;
  color: #f9faf8;
  background: #3881f6d0;
  border: red 2px solid;
  flex-direction: column;
  align-items: flex-start;

  gap: 8px;

  padding: 32px;
  margin: 0;
  width: 1000px;
  /* flex: 1; */
  /* flex-wrap: wrap; */
}

.sign-up .headers {
  margin: 0;
}

.sign-up .text {
  margin: 0;
}
.sign-up button {
  border: #f9faf8;
  /* flex: 1 */
}

button {
  background: #3881f6d0;
  border: none;
  color: #e5e7eb;
  border-radius: 5%;
  padding: 10px 25px;
  font-weight: 900;
}

/* ==================================*/
/*            FOOTER*/
/* ==================================*/

footer {
  display: flex;
  justify-content: center;
  background: #1f2937;
  color: #e5e7eb;
}
