/* ==================================*/
/*         MAIN BODY/CONTAINER */
/* ==================================*/

* {
  /* border: firebrick 1px solid; */
}

body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  
}

.container {
  display: flex;
  flex-direction: column;
}

/* ==================================*/
/*         HEADER ELEMENTS */
/* ==================================*/

.header {
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 16px 100px;
  flex-wrap: wrap;
  text-align: left; 
}

.header .logo {
  height: auto;
  width: 100px;
  border-radius: 25%;
}

.header .main-header {
  color: #f9faf8;
  font-weight: bolder;
  flex: 1;
  padding: 16px;
  font-size: 24px;
}

/* ================================== */
/*       MAIN */
/* ==================================*/

.main {
  display: flex;
  padding: 100px 100px;
  text-align: left;
  background-color: #1f2937;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.main .headers {
  color: #f9faf8;
  font-size: 48px;
  margin: 0;
  padding: 0;

}

.main .text {
  color: #e5e7eb;
  max-width: 500px;
  line-height: 125%;
}

.main img {
  height: auto;
  width: 400px;
  border-radius: 10%;
}

.main button {
  margin-top: 1rem;
  border: none;
}

/* ================================== */
/*       CONTENT & PICTURES */
/* ==================================*/

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 100px;
  justify-content: center;
  gap: 50px;
}

.content-header {
  text-align: center;
  padding: 16px;
}

.content .image {
  height: auto;
  max-width: 250px;
  border: #3882f6e6 solid 4px;
  border-radius: 10%;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ==================================*/
/*       QUOTE/TESTIMONIALS */
/* ==================================*/

.quote {
  background-color: #e5e7eb;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  padding: 16px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==================================*/
/*            SIGN-UP */
/* ==================================*/

.sign-up-box{
  padding: 4rem 100px;
  background: #3882f6e6;
  color: #f9faf8;
  padding: 2rem;
  border-radius: 25px;
  margin: 50px 100px;
  display: flex;

}

.sign-up-text {
  align-items: flex-start;
  flex: 2;
  text-align: left;
}

.sign-up-button {
  background: #3882f600;
  flex: 1;
  align-self: center;
  width: 250px;
}

/* ==================================*/
/*    LINK FORMATTING & BUTTONS*/
/* ==================================*/

.header-link {
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 16px;
}

a:hover,
a {
  color: black;
  text-decoration: none;
}

button {
  background: #3882f6e6;
  border: white 1px solid;
  color: #e5e7eb;
  border-radius: 8px;
  padding: 12px 25px;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
  background: #0043acf0;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* ==================================*/
/*            FOOTER*/
/* ==================================*/

footer {
  display: flex;
  justify-content: center;
  background: #1f2937;
  color: #e5e7eb;
}
