body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* ====================== */
/* HEADER ELEMENTS */
/* ====================== */

header {
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 16px 100px;
}

header h3 {
  color: #f9faf8;
  font-size: 24px;
}

header img {
  height: auto;
  width: 100px;
  border-radius: 25%;
}

h1 {
  color: #f9faf8;
  font-weight: bolder;
}

/* LINK FORMATTING */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 16px;
}

a:hover,
a {
  color: black;
  text-decoration: none;
}

/* .holy-grail-body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
} */

/* ====================== */
/* SUB-HEADER ELEMENTS */
/* ====================== */

.sub-header {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* padding: 100px */

}

.sub-header img {
  height: auto;
  width: 350px;
  border-radius: 50%;
}


.sub-header p {
  color: #e5e7eb;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
}

.sub-header {
  background-color: #1f2937;
}

.content {
  /* display: flex;
  flex: 1; */
  /* border: blue 1px solid; */
}

.content img {
  height: auto;
  width: 300px;
  border: #3882f6 solid 4px;
  border-radius: 10%;
}

.quote {
  background-color: #e5e7eb;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;

  /* display: flex;
  flex: 1 */
}

button {
  background: #3882f6;
  border: none;
  color: #e5e7eb;
  border-radius: 10%;
  padding: 8px 25px;
  font-weight: 900px;
}

footer {
  display: flex;
  justify-content: center;
  background: #1f2937;
  color: #e5e7eb;
  /* flex: 1; */
}
